<h2>Suppliers</h2>
<div *ngIf="!isAdding && !isEditing">
  <div class="mb-3">
    <div class="row align-items-center">
      <div class="col-sm">
        <button class="btn btn-primary" (click)="onAddClick()">Add Supplier</button>
      </div>
      <div class="col-sm-auto text-right">
        <button class="btn btn-sm btn-success" (click)="downloadTableAsExcel()">Download Table as Excel</button>
      </div>
    </div>
  </div>
  <table id="supplierTable" class="table">
    <thead>
      <tr>
        <th>Supplier ID</th>
        <th>Name</th>
        <th>Contact Name</th>
        <th>Contact Email</th>
        <th>Contact Phone</th>
        <th>Address</th>
        <th>Pricing Agreement</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let supplier of suppliers">
        <td>{{ supplier.supplierId }}</td>
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.contactName }}</td>
        <td>{{ supplier.contactEmail }}</td>
        <td>{{ supplier.contactPhone }}</td>
        <td>{{ supplier.address }}</td>
        <td>{{ supplier.pricingAgreement | currency }}</td>
        <td>
          <button class="btn btn-sm btn-success" (click)="onEditClick(supplier)">Edit</button>
          <button class="btn btn-sm btn-danger ml-2" (click)="deleteSupplier(supplier.supplierId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isAdding || isEditing">
  <form [formGroup]="supplierForm" (submit)="onFormSubmit()" class="mt-4">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="contactName">Contact Name:</label>
      <input type="text" id="contactName" formControlName="contactName" class="form-control">
    </div>
    <div class="form-group">
      <label for="contactEmail">Contact Email:</label>
      <input type="email" id="contactEmail" formControlName="contactEmail" class="form-control">
    </div>
    <div class="form-group">
      <label for="contactPhone">Contact Phone:</label>
      <input type="text" id="contactPhone" formControlName="contactPhone" class="form-control">
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" id="address" formControlName="address" class="form-control">
    </div>
    <div class="form-group">
      <label for="pricingAgreement">Pricing Agreement:</label>
      <input type="number" id="pricingAgreement" formControlName="pricingAgreement" step="0.01" class="form-control">
    </div>
    <div class="text-center">
      <button *ngIf="isAdding" type="submit" class="btn btn-success">Add</button>
      <button *ngIf="isEditing" type="submit" class="btn btn-primary">Update</button>
      <button type="button" (click)="onCancelClick()" class="btn btn-danger">Cancel</button>
    </div>
  </form>
</div>